/* Общие стили */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

/* Стили для блока "Запросы" */
.requests-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.requests {
    position: relative;
    width: 100%;
    height: 100%;
}

.requests h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.request-item {
    position: absolute;
    background-color: white;
    border: 2px solid #9b59b6;
    border-radius: 50px; /* Увеличено значение для более округленных краев */
    padding: 20px 40px; /* Увеличены отступы */
    font-size: 16px; /* Увеличен размер шрифта */
    color: #9b59b6;
    white-space: nowrap;
    transition: transform 0.3s;
}

.request-item:hover {
    transform: scale(1.1);
}

.item1 {
    top: 35%;
    left: 15%;
}

.item2 {
    top: 25%;
    left: 40%;
}

.item3 {
    top: 35%;
    left: 70%;
}

.item4 {
    top: 50%;
    left: 80%;
}

.item5 {
    top: 65%;
    left: 70%;
}

.item6 {
    top: 75%;
    left: 40%;
}

.item7 {
    top: 65%;
    left: 15%;
}

.item8 {
    top: 50%;
    left: 5%;
}

/* Стили для блока "Часто задаваемые вопросы" */
.faq-container {
    max-width: 100%;
    margin: 50px auto 0;
    padding: 20px;
    box-sizing: border-box;
}

.faq-title {
    text-align: center;
    color: #9b59b6;
    margin-bottom: 20px;
}

.faq-item {
    border-top: 1px solid #9b59b6; /* Тонкая фиолетовая линия */
    padding: 15px 0;
}

.faq-item:first-child {
    border-top: none; /* Убирает верхнюю линию у первого элемента */
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    color: #333;
}

.toggle-icon {
    font-size: 24px;
    color: #9b59b6;
}

.answer {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}

.answer p {
    margin: 0;
}

.faq-item:not(:last-child) {
    border-bottom: 1px solid #9b59b6; /* Тонкая фиолетовая линия снизу */
}

.faq-item:last-child {
    border-bottom: none;
}