/* Подключение шрифта Rounded Mplus 1c Bold */

@font-face {
    src: url(/assets/styles/fonts/RoundedMplus1c/MPLUSRounded1c-Bold.ttf);
    font-family: 'Rounded Mplus 1c Bold';
    font-weight: bold;
}

@font-face {
    src: url(/assets/styles/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
    font-family: 'Quicksand';
}

/* Общие стили */
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    /*font-family: "Quicksand";*/
    /* 'Arial' */
}

h2 {
    font-family: "Rounded Mplus 1c Bold";
}

/* Стили для блока "Header" */
header {
    display: flex;
    flex-wrap: wrap;
    /*min 30px max60px*/
    gap: clamp(1.875rem, 0.536rem + 3.571vw, 3.75rem);
    /*padding-top 50px, padding-left-right 20px, padding bottom 20px */
    padding: 50px 20px 20px;
    justify-content: center;
    align-items: center;

    /*min 13px max 16px */
    font-size: clamp(0.813rem, 0.679rem + 0.357vw, 1rem);
}

.header__item {
    color: black;
    text-decoration: none;
}

.header__button {

    font-weight: bold;
    color: white;
    background-color: #FCCD04;
    border: 1px solid #FCCD04;
    border-radius: 50px;
    cursor: pointer;
    padding: 15px 10px;
    /*min 150px max 200px*/
    width: clamp(9.375rem, 7.143rem + 5.952vw, 12.5rem);
    transition: 0.3s;
}

.header__button:hover {
    transform: scale(1.1);
}

/* Стили для блока "Header" */

/* Стили для блока "Запросы" */
.requests-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.requests {
    position: relative;
    width: 100%;
    height: 100%;
}

.requests h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.request-item {
    position: absolute;
    background-color: white;
    border: 2px solid #9b59b6;
    border-radius: 50px;
    /* Увеличено значение для более округленных краев */
    padding: 20px 40px;
    /* Увеличены отступы */
    font-size: 16px;
    /* Увеличен размер шрифта */
    color: #9b59b6;
    white-space: nowrap;
    transition: transform 0.3s;
}

.request-item:hover {
    transform: scale(1.1);
}

.item1 {
    top: 35%;
    left: 15%;
}

.item2 {
    top: 25%;
    left: 40%;
}

.item3 {
    top: 35%;
    left: 70%;
}

.item4 {
    top: 50%;
    left: 80%;
}

.item5 {
    top: 65%;
    left: 70%;
}

.item6 {
    top: 75%;
    left: 40%;
}

.item7 {
    top: 65%;
    left: 15%;
}

.item8 {
    top: 50%;
    left: 5%;
}

/* Стили для блока "Часто задаваемые вопросы" */
.faq-container {
    max-width: 100%;
    margin: 50px auto 0;
    padding: 20px;
    box-sizing: border-box;
}

.faq-title {
    text-align: center;
    color: #9b59b6;
    margin-bottom: 20px;
}

.faq-item {
    border-top: 1px solid #9b59b6;
    /* Тонкая фиолетовая линия */
    padding: 15px 0;
}

.faq-item:first-child {
    border-top: none;
    /* Убирает верхнюю линию у первого элемента */
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    color: #333;
}

.toggle-icon {
    font-size: 24px;
    color: #9b59b6;
}

.answer {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}

.answer p {
    margin: 0;
}

.faq-item:not(:last-child) {
    border-bottom: 1px solid #9b59b6;
    /* Тонкая фиолетовая линия снизу */
}

.faq-item:last-child {
    border-bottom: none;
}

/* Стили для футера */
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: #9b59b6;
    border-radius: 30px;
}

.footer-content {
    max-width: 800px;
    width: 100%;
    background-color: #9b59b6;
    color: white;
    padding: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}

.footer-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-item a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.contact-item img {
    width: 24px;
    height: 24px;
}

/* Стили для навигации */
.navigation-container {
    background-color: #f3f3f3;
    padding: 10px 20px;
    border-top: 1px solid #ccc;
    text-align: center;
    background-color: transparent;

    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}

.navigation-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navigation-container li {
    display: inline;
}

.navigation-container a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}